
footer{
    border-top: 1px solid #eef2f2;
    font-size: .75em;
    font-weight: 400;
    color: #ababab;
    text-align: center;
    padding: 1em 0;
}
footer *{
    margin-top: 10px;
}
footer a{
  padding-left: 2px;
}